Repository olech2412/MensaHub, pull requests merged in 2024-08, with the labels that each got.

#119 Added new Rating class and adjusted mensahub-models version number to…
  MensaHub-Models/pom.xml
  MensaHub-Models/src/main/java/de/olech2412/mensahub/models/Rating.java
Labels: feature

#121 111 datenbereitstellung fr python api
  .gitignore
  MensaHub-DataDispatcher/pom.xml
  MensaHub-DataDispatcher/src/main/java/de/olech2412/mensahub/datadispatcher/MensaHub_DataDispatcher.java
  MensaHub-DataDispatcher/src/main/java/de/olech2412/mensahub/datadispatcher/data/leipzig/leipzigDispatcher/LeipzigDataDispatcher.java
  MensaHub-DataDispatcher/src/main/java/de/olech2412/mensahub/datadispatcher/email/Mailer.java
  MensaHub-DataDispatcher/src/main/java/de/olech2412/mensahub/datadispatcher/jpa/repository/Leipzig/meals/MealsRepository.java
  MensaHub-DataDispatcher/src/main/java/de/olech2412/mensahub/datadispatcher/jpa/repository/RatingRepository.java
  MensaHub-DataDispatcher/src/main/java/de/olech2412/mensahub/datadispatcher/jpa/services/leipzig/meals/MealsService.java
  MensaHub-Gateway/pom.xml
  MensaHub-Junction/frontend/themes/mensaHub-theme/styles.css
  MensaHub-Junction/pom.xml
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/gui/components/own/RatingComponent.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/gui/components/own/boxes/MealBox.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/gui/components/vaadin/notifications/types/InfoWithAnchorNotification.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/gui/views/MailSettingsView.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/gui/views/MealPlan.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/jpa/repository/MailUserRepository.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/jpa/repository/RatingRepository.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/jpa/services/MailUserService.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/jpa/services/RatingService.java
  MensaHub-Models/src/main/java/de/olech2412/mensahub/models/Rating.java
  addons/collaborative_filtering/Dockerfile
  addons/collaborative_filtering/collaborative_filtering.py
  addons/collaborative_filtering/docker-compose.yml
  addons/collaborative_filtering/requirements.txt
Labels: feature

#122 ui bissl verbessert für mobil
  MensaHub-Junction/frontend/themes/mensaHub-theme/mealbox.css
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/gui/components/own/boxes/MealBox.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/gui/views/MealPlan.java
Labels: feature

#125 Update build-pipeline.yml
  .github/workflows/build-pipeline.yml
Labels: feature

#123 add usercode to update email so he can reach the mealPlan voting endp…
  MensaHub-DataDispatcher/src/main/java/de/olech2412/mensahub/datadispatcher/email/Mailer.java
Labels: bug, MensaHub-DataDispatcher

#126 edited mensahub models 2.0.9 and updated jwt lib
  MensaHub-Gateway/pom.xml
  MensaHub-Gateway/src/main/java/de/olech2412/mensahub/gateway/security/config/JwtService.java
  MensaHub-Models/src/main/java/de/olech2412/mensahub/models/authentification/API_User.java
Labels: security, MensaHub-Gateway, MensaHub-Models

#128 changed, how the submealname is fetched
  MensaHub-DataDispatcher/src/main/java/de/olech2412/mensahub/datadispatcher/MensaHub_DataDispatcher.java
  MensaHub-DataDispatcher/src/main/java/de/olech2412/mensahub/datadispatcher/data/leipzig/html_caller/HTML_Caller.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/gui/components/own/RatingComponent.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/gui/components/vaadin/layouts/panels/adminPanel/UserPanel.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/gui/components/vaadin/notifications/types/InfoWithAnchorNotification.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/gui/components/vaadin/panel/AdminPanel.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/gui/views/AdminView.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/gui/views/MealPlan.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/jpa/services/MailUserService.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/jpa/services/RatingService.java
  MensaHub-Models/src/main/java/de/olech2412/mensahub/models/Meal.java
  MensaHub-Models/src/main/java/de/olech2412/mensahub/models/Mensa.java
  MensaHub-Models/src/main/java/de/olech2412/mensahub/models/Rating.java
  MensaHub-Models/src/main/java/de/olech2412/mensahub/models/authentification/API_User.java
  MensaHub-Models/src/main/java/de/olech2412/mensahub/models/authentification/ActivationCode.java
  MensaHub-Models/src/main/java/de/olech2412/mensahub/models/authentification/DeactivationCode.java
  MensaHub-Models/src/main/java/de/olech2412/mensahub/models/authentification/MailUser.java
  MensaHub-Models/src/main/java/de/olech2412/mensahub/models/authentification/Role.java
  MensaHub-Models/src/main/java/de/olech2412/mensahub/models/authentification/Users.java
  MensaHub-Models/src/main/java/de/olech2412/mensahub/models/helper/JobBuilder.java
  MensaHub-Models/src/main/java/de/olech2412/mensahub/models/jobs/Job.java
  MensaHub-Models/src/main/java/de/olech2412/mensahub/models/jobs/JobStatus.java
  MensaHub-Models/src/main/java/de/olech2412/mensahub/models/result/errors/Application.java
  MensaHub-Models/src/main/java/de/olech2412/mensahub/models/result/errors/job/JobErrors.java
  MensaHub-Models/src/main/java/de/olech2412/mensahub/models/result/errors/jpa/JPAErrors.java
  MensaHub-Models/src/main/java/de/olech2412/mensahub/models/result/errors/mail/MailError.java
  MensaHub-Models/src/main/java/de/olech2412/mensahub/models/result/errors/mail/MailErrors.java
  MensaHub-Models/src/main/java/de/olech2412/mensahub/models/result/errors/parser/ParserErrors.java
Labels: MensaHub-DataDispatcher, feature

#129 geändert: MensaHub-Junction/src/main/java/de/olech2412/mensahu…
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/gui/views/DeveloperRegisterView.java
  MensaHub-Models/src/main/java/de/olech2412/mensahub/models/authentification/API_User.java
Labels: bug, MensaHub-Junction

#131 ratings werden mitgenommen sofern möglich
  .github/workflows/build-pipeline.yml
  MensaHub-DataDispatcher/src/main/java/de/olech2412/mensahub/datadispatcher/MensaHub_DataDispatcher.java
  MensaHub-DataDispatcher/src/main/java/de/olech2412/mensahub/datadispatcher/data/leipzig/leipzigDispatcher/LeipzigDataDispatcher.java
  MensaHub-DataDispatcher/src/main/java/de/olech2412/mensahub/datadispatcher/jpa/services/RatingService.java
  MensaHub-DataDispatcher/src/main/java/de/olech2412/mensahub/datadispatcher/jpa/services/leipzig/meals/MealsService.java
Labels: bug, MensaHub-DataDispatcher

#132 bugfix mail deletion not possible because foreign key to ratings
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/jpa/repository/RatingRepository.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/jpa/services/MailUserService.java
Labels: bug

#133 geändert: MensaHub-Junction/src/main/java/de/olech2412/mensahu…
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/jpa/repository/JobRepository.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/jpa/services/MailUserService.java
Labels: bug

#138 137 integrate adapter to mensahub junction
  MensaHub-Collaborative-Filtering-API-Adapter/pom.xml
  MensaHub-Junction/frontend/themes/mensaHub-theme/mealbox.css
  MensaHub-Junction/pom.xml
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/gui/components/own/boxes/MealBox.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/gui/views/MealPlan.java
  pom.xml
Labels: MensaHub-Junction, feature, addons

#140 137 integrate adapter to mensahub junction
  MensaHub-Junction/frontend/themes/mensaHub-theme/mealbox.css
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/gui/components/own/boxes/MealBox.java
Labels: MensaHub-Junction, addons

#142 Add buttons to skip through dates
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/gui/views/MealPlan.java
Labels: development, MensaHub-Junction

#143 made datepicker layout mobile responsive
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/gui/views/MealPlan.java
Labels: bug, MensaHub-Junction

#144 Improvement/collaborative filtering
  MensaHub-Collaborative-Filtering-API-Adapter/pom.xml
  MensaHub-DataDispatcher/pom.xml
  MensaHub-Gateway/pom.xml
  MensaHub-Junction/frontend/themes/mensaHub-theme/mealbox.css
  MensaHub-Junction/pom.xml
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/gui/components/own/CustomComboBoxLayout.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/gui/components/own/boxes/MealBox.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/gui/components/vaadin/dialogs/MailUserSetupDialog.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/gui/components/vaadin/dialogs/PreferencesDialog.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/gui/components/vaadin/layouts/generic/FooterButtonLayout.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/gui/views/MailSettingsView.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/gui/views/MealPlan.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/gui/views/NewsletterView.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/jpa/repository/PreferencesRepository.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/jpa/repository/meals/MealRepository.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/jpa/services/PreferencesService.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/jpa/services/meals/MealsService.java
  MensaHub-Models/pom.xml
  MensaHub-Models/src/main/java/de/olech2412/mensahub/models/Preferences.java
  MensaHub-Models/src/main/java/de/olech2412/mensahub/models/addons/predictions/PredictionRequest.java
  MensaHub-Models/src/main/java/de/olech2412/mensahub/models/addons/predictions/PredictionResult.java
  MensaHub-Models/src/main/java/de/olech2412/mensahub/models/authentification/MailUser.java
  addons/collaborative_filtering/collaborative_filtering.py
Labels: MensaHub-Junction, feature, addons

#145 Improvement/collaborative filtering
  MensaHub-Collaborative-Filtering-API-Adapter/pom.xml
  MensaHub-Collaborative-Filtering-API-Adapter/src/main/java/de/olech2412/mensahub/CollaborativeFilteringAPIAdapter.java
  MensaHub-DataDispatcher/pom.xml
  MensaHub-Gateway/pom.xml
  MensaHub-Junction/pom.xml
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/gui/components/own/boxes/MealBox.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/jpa/services/MealPlanService.java
  MensaHub-Models/pom.xml
  MensaHub-Models/src/main/java/de/olech2412/mensahub/models/result/errors/api/APIErrors.java
  addons/collaborative_filtering/collaborative_filtering.py
Labels: bug, MensaHub-Junction, MensaHub-Models, addons

#146 Collaborative Filtering API überarbeitet
  addons/collaborative_filtering/collaborative_filtering.py
  addons/collaborative_filtering/docker-compose.yml
  addons/collaborative_filtering/requirements.txt
Labels: addons

#141 112 integrate interface into mensahub
  MensaHub-Collaborative-Filtering-API-Adapter/pom.xml
  MensaHub-DataDispatcher/pom.xml
  MensaHub-DataDispatcher/src/main/java/de/olech2412/mensahub/datadispatcher/data/UserDataDispatcher.java
  MensaHub-Gateway/pom.xml
  MensaHub-Junction/frontend/themes/mensaHub-theme/styles.css
  MensaHub-Junction/pom.xml
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/gui/components/vaadin/notifications/types/PermanentNotificationMiddleScreenPosition.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/gui/views/ActivationView.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/gui/views/MailSettingsView.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/gui/views/MealPlan.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/gui/views/NewsletterView.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/gui/views/RedirectView.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/jpa/repository/meals/MealRepository.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/jpa/services/RatingService.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/jpa/services/meals/MealsService.java
  MensaHub-Models/pom.xml
  MensaHub-Models/src/main/java/de/olech2412/mensahub/models/authentification/MailUser.java
  docker-compose.yml
Labels: development, MensaHub-Junction

#149 147 pwa improvements
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/MensaHub_Junction.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/security/SecurityConfig.java
  MensaHub-Junction/src/main/resources/META-INF/manifest.webmanifest
  MensaHub-Junction/src/main/resources/application.properties
Labels: MensaHub-Junction, feature

#150 147 pwa improvements
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/gui/components/vaadin/dialogs/AppleDeviceUserCodeDialog.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/gui/views/DeveloperRegisterView.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/gui/views/LoginView.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/gui/views/MailSettingsView.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/gui/views/MealPlan.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/gui/views/NewsletterView.java
  MensaHub-Junction/src/main/resources/META-INF/manifest.webmanifest
  MensaHub-Junction/src/main/resources/META-INF/resources/icons/android-chrome-192x192.png
  MensaHub-Junction/src/main/resources/META-INF/resources/icons/android-chrome-512x512.png
  MensaHub-Junction/src/main/resources/META-INF/resources/icons/apple-touch-icon.png
  MensaHub-Junction/src/main/resources/META-INF/resources/icons/favicon-16x16.png
  MensaHub-Junction/src/main/resources/META-INF/resources/icons/favicon-32x32.png
  MensaHub-Junction/src/main/resources/META-INF/resources/icons/favicon.ico
  MensaHub-Junction/src/main/resources/META-INF/resources/icons/mstile-150x150.png
  MensaHub-Junction/src/main/resources/META-INF/resources/icons/safari-pinned-tab.svg
  MensaHub-Junction/src/main/resources/static/img/MensaHub_logo.PNG
  MensaHub-Junction/src/main/resources/static/img/MensaHub_logo.webp
Labels: MensaHub-Junction, feature, addons

#151 Cookie Information hinzugefügt, alle views zeigen das cookiebanner an…
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/gui/components/vaadin/notifications/types/CookieNotification.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/gui/views/ActivationView.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/gui/views/AdminView.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/gui/views/DataProtectionView.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/gui/views/DeveloperRegisterView.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/gui/views/DeveloperView.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/gui/views/LoginView.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/gui/views/MailSettingsView.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/gui/views/MealPlan.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/gui/views/NewsletterView.java
Labels: feature

#158 157 push notifications
  MensaHub-Collaborative-Filtering-API-Adapter/pom.xml
  MensaHub-DataDispatcher/pom.xml
  MensaHub-DataDispatcher/src/main/java/de/olech2412/mensahub/datadispatcher/MensaHub_DataDispatcher.java
  MensaHub-DataDispatcher/src/main/java/de/olech2412/mensahub/datadispatcher/data/leipzig/leipzigDispatcher/LeipzigDataDispatcher.java
  MensaHub-Gateway/pom.xml
  MensaHub-Junction/pom.xml
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/MensaHub_Junction.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/config/Config.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/gui/components/vaadin/dialogs/PushNotificationDialog.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/gui/views/MailSettingsView.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/jpa/services/MailUserService.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/security/SecurityConfig.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/webpush/WebPushService.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/webpush/WebPushTriggerEndpoint.java
  MensaHub-Models/pom.xml
  MensaHub-Models/src/main/java/de/olech2412/mensahub/models/authentification/MailUser.java
  MensaHub-Models/src/main/java/de/olech2412/mensahub/models/authentification/SubscriptionEntity.java
Labels: MensaHub-Junction, MensaHub-DataDispatcher, feature, addons

#161 new button to skip rating the dishes if user doesn't want to
  MensaHub-Junction/pom.xml
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/gui/views/ActivationView.java
Labels: enhancement, MensaHub-Junction, addons

#162 edited logging
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/gui/views/ActivationView.java
Labels: bug, MensaHub-Junction

#164 Hotfix/activation not possible
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/gui/views/ActivationView.java
  MensaHub-Junction/src/main/java/de/olech2412/mensahub/junction/gui/views/NewsletterView.java
Labels: bug, MensaHub-Junction

#165 removed wrong code block in if/else statement - caused by stupid strgc/strgv
  MensaHub-DataDispatcher/src/main/java/de/olech2412/mensahub/datadispatcher/data/leipzig/leipzigDispatcher/LeipzigDataDispatcher.java
Labels: bug

#168 Feature/show recommendation score in email
  MensaHub-DataDispatcher/src/main/java/de/olech2412/mensahub/datadispatcher/MensaHub_DataDispatcher.java
  MensaHub-DataDispatcher/src/main/java/de/olech2412/mensahub/datadispatcher/data/jobs/JobManager.java
  MensaHub-DataDispatcher/src/main/java/de/olech2412/mensahub/datadispatcher/data/leipzig/html_caller/HTML_Caller.java
  MensaHub-DataDispatcher/src/main/java/de/olech2412/mensahub/datadispatcher/data/leipzig/leipzigDispatcher/CollaborativeFilteringLeipzigDispatcher.java
  MensaHub-DataDispatcher/src/main/java/de/olech2412/mensahub/datadispatcher/data/leipzig/leipzigDispatcher/LeipzigDataDispatcher.java
  MensaHub-DataDispatcher/src/main/java/de/olech2412/mensahub/datadispatcher/email/Mailer.java
  MensaHub-DataDispatcher/src/main/java/de/olech2412/mensahub/datadispatcher/jpa/services/leipzig/meals/MealsService.java
Labels: bug, MensaHub-Junction, MensaHub-DataDispatcher, feature, addons
